*.version
apps/wiggle/src/wiggle_version.hrl
apps/wiggle/.eunit/
rel/pkg/packlist
rel/pkg/*.tgz
rel/pkg/build-info
gproc_dist_*
standalone.config
ebin
db
deps
*~
.DS_Store
Mnesia.*
erl_crash.dump
*.beam
rel/wiggle
rel/wiggle.tar.bz2
manifest
