{lib_dirs, []}.
{erl_opts, [{i, "apps"}, {i,"deps"}, {i, "../../deps/cowboy/include"}, {i, "../deps/alog/include"}, debug_info, {parse_transform, lager_transform}, warnings_as_errors]}.
{sub_dirs, ["rel", "apps/wiggle"]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {branch, master}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
  {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.1.2"}}},
  {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.6"}}},
  {libhowl, ".*", {git, "http://github.com/project-fifo/libhowl.git", {tag, "0.1.6"}}},
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.1"}}},
  {libchunter, ".*", {git, "http://github.com/project-fifo/libchunter.git", {tag, "0.1.8"}}},
  {libsniffle, ".*", {git, "http://github.com/project-fifo/libsniffle.git", {tag, "0.2.5"}}},
  {libsnarl, ".*", {git, "http://github.com/project-fifo/libsnarl.git", {tag, "0.2.5"}}}
 ]}.
