{sub_dirs, ["rel", "apps/*"]}.
{lib_dirs, ["apps"]}.
{erl_opts, [{i, "apps"},
            {i, "deps"},
            {i, "../../deps/cowboy/include"},
            debug_info,
            {parse_transform, lager_transform}, warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps,
 [
  {meck, "0.8.2", {git, "git://github.com/basho/meck.git", {tag, "0.8.2"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {fifo_dt, "0.1.*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.40"}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "2.0.1"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}},
  {eplugin, ".*", {git, "http://github.com/Licenser/eplugin.git", {tag, "0.1.2"}}},
  {msgpack, ".*", {git, "https://github.com/project-fifo/msgpack-erlang.git", {tag, "0.2.3-dialyzer"}}},
  {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.8"}}},
  {e2qc, ".*", {git, "git://github.com/arekinath/e2qc.git", {tag, "075021c13013a38b59115ac89d9c4affe6218229"}}},
  {ensq, ".*", {git, "git://github.com/project-fifo/ensq.git", {tag, "0.1.2"}}},
  {ensq_rpc, ".*", {git, "git://github.com/project-fifo/ensq_rpc.git", {tag, "0.1.5"}}},
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
  {fifo_spec, "0.1.15", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.15"}}},
  {fifo_utils, "0.1.*", {git, "https://github.com/project-fifo/fifo_utils.git", {tag, "0.1.8"}}},
  {fifo_s3, "0.1.*", {git, "https://github.com/project-fifo/fifo_s3.git", {tag, "0.1.8"}}},
  {libhowl, "0.1.19", {git, "http://github.com/project-fifo/libhowl.git", {tag, "0.1.20"}}},
  {libchunter, "0.1.36", {git, "http://github.com/project-fifo/libchunter.git", {tag, "0.1.36"}}},
  {libsniffle, "0.3.*", {git, "http://github.com/project-fifo/libsniffle.git", {tag, "0.3.14"}}},
  {libsnarl, "0.3.*", {git, "http://github.com/project-fifo/libsnarl.git", {tag, "0.3.14"}}},
  {lager_watchdog, ".*", {git, "https://github.com/project-fifo/lager_watchdog.git", {tag, "0.1.8"}}},
  {oauth2, "0.6.*", {git, "https://github.com/kivra/oauth2.git", {tag, "0.6.0"}}},
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.10.0"}}},
  {folsom_ddb, ".*", {git, "https://github.com/dalmatinerdb/folsom_ddb.git", {tag, "0.1.4"}}}
 ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
