{lib_dirs, []}.
{erl_opts, [{i, "apps"}, {i,"deps"}, {i, "../../deps/alog/include"}, {i, "../../deps/cowboy/include"}, {i, "../deps/alog/include"}, debug_info, {parse_transform, lager_transform}, warnings_as_errors]}.
{sub_dirs, ["rel", "apps/wiggle"]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {tag, "e9dfab5aec98963589ecf13bdfcf0490667a730d"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
  {libsniffle, ".*", {git, "http://github.com/project-fifo/libsniffle.git", {branch, master}}},
  {libsnarl, ".*", {git, "http://github.com/project-fifo/libsnarl.git", {branch, dev}}}
 ]}.
