[
 {mnesia, [{dir, "db"}]},
 {gproc, [{gproc_dist, all}]},
 {nodefinder, 
  [
   {addr, {192,168,0,99}},
   {port, 4223},
   {multicast_ttl, 1000}
  ]},
 {wiggle, [
           {acceptors, 2},
           {port, 8080},
           {key_id, "wiggle.devel"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {alog, [
	 {enabled_loggers, [alog_tty]},
	 {flows, [
		  {{mod,['_']}, {'=<', warning}, [alog_tty]},
	  	  {{tag, [bark]}, {'=<', info}, [alog_tty]},
	  	  {{tag, [cloudapi]}, {'=<', info}, [alog_tty]}
		 ]}
	]}
].
