[
 {mnesia, [{dir, "db"}]},
 {wiggle, [
           {acceptors, 2},
           {port, 8080},
           {key_id, "wiggle.devel"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {alog, [
	 {enabled_loggers, [alog_tty]},
	 {flows, [
		  {{mod,['_']}, {'=<', warning}, [alog_tty]},
	  	  {{tag, [bark]}, {'=<', info}, [alog_tty]},
	  	  {{tag, [cloudapi]}, {'=<', info}, [alog_tty]}
		 ]}
	]}
].
