[
 {mnesia, [{dir, "db"}]},
 {gproc, [{gproc_dist, all}]},
{redgrid,
  [
   {url, "redis://localhost:6379/"},
   {meta, []},
   {anonymous, false},
   {domain, "fifo"},
   {version, ""},
   {local_ip, "127.0.0.1"}
  ]},
 {wiggle, [
           {acceptors, 2},
           {port, 8080},
           {key_id, "wiggle.devel"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {alog, [
	 {enabled_loggers, [alog_tty]},
	 {flows, [
		  {{mod,['_']}, {'=<', warning}, [alog_tty]},
	  	  {{tag, [bark]}, {'=<', info}, [alog_tty]},
	  	  {{tag, [cloudapi]}, {'=<', info}, [alog_tty]}
		 ]}
	]}
].
