[
 {wiggle, [
           {acceptors, 2},
           {port, 8080},
           {host, "http://172.16.0.4"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {alog, [
	 {enabled_loggers, [alog_tty]},
	 {flows, [
		  {{mod,['_']}, {'=<', warning}, [alog_tty]}
		 ]}
	]}
].
