div.message {
    width: 70%;
    border: 2px solid black;
    background-color: lightgrey;
    margin: 10px 100px 10px 100px;
    padding: 2px;
}
div.message.ok {
    background-color: #8BFEA8;
}
div.message.warning {
    background-color: #FFC895;
}
div.message.error {
    background-color: #FF8E8E;
}