{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "wiggle", "0.2.0",
        [
         kernel,
         stdlib,
         sasl,
	 alog,
	 lager,
         nodefinder,
         backyard,
         crypto,
	 public_key,
	 ssl,
	 mimetypes,
	 erlydtl,
	 cowboy,
	 jsx,
         gproc,
         libsniffle,
	 libsnarl,
         wiggle
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "wiggle"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                           "^erts.*/info", "^erts.*/man",
                           "^erts.*/lib", "^erts.*/include",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, crypto, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, uuid, [{incl_cond, include}]},	
       {app, gproc, [{incl_cond, include}]},	
       {app, nodefinder, [{incl_cond, include}]},	
       {app, backyard, [{incl_cond, include}]},	
       {app, gen_leader, [{incl_cond, include}]},	
       {app, sasl,   [{incl_cond, include}]},
       {app, alog,   [{incl_cond, include}]},
       {app, lager,   [{incl_cond, include}]},
       {app, edoc,   [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, erlydtl, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, nicedecimal, [{incl_cond, include}]},
       {app, jsx, [{incl_cond, include}]},
       {app, mimetypes, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, libsniffle, [{incl_cond, include}]},
       {app, libsnarl, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, wiggle, [{incl_cond, include}]}
      ]}.

{target_dir, "wiggle"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/wiggle", "bin/wiggle"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/wiggle.xml", "wiggle.xml"},
           {copy, "files/wiggle.cmd", "bin/wiggle.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../LICENSE", "LICENSE"},
           {copy, "../README.md", "README.md"}
          ]}.
