{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "wiggle", "0.4.0",
        [
         kernel,
         stdlib,
         sasl,
         wiggle
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "wiggle"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, wiggle, [{incl_cond, include}]}
      ]}.

{target_dir, "wiggle"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/wiggle", "bin/wiggle"},
           {template, "files/app.config", "etc/app.config.example"},
           {template, "files/vm.args", "etc/vm.args.example"},
           {template, "files/wiggle.xml", "etc/wiggle.xml"},
           {copy, "../LICENSE", "LICENSE"},
           {copy, "../README.md", "README.md"}
          ]}.
