%% -*- erlang -*-
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "wiggle", "0.6.1p7",
        [
         kernel,
         stdlib,
         sasl,
         wiggle
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "wiggle"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, wiggle, [{incl_cond, include}]}
      ]}.

{target_dir, "wiggle"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "etc"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "../share", "share"},
           {copy, "../deps/fifo_utils/priv/update_config.sh", "share/"},
           {template, "files/wiggle", "bin/wiggle"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {template, "../schema/wiggle.schema", "share/schema/00-wiggle.schema"},
           {template, "../schema/lager.schema", "share/schema/01-lager.schema"},
           {template, "../schema/snmp.schema", "share/schema/02-snmp.schema"},
           {template, "../deps/ensq/priv/ensq.schema", "share/schema/03-ensq.schema"},
           {template, "../deps/libsnarl/priv/libsnarl.schema", "share/schema/04-libsnarl.schema"},
           {template, "../deps/mdns_client_lib/priv/mdns_client.schema", "share/schema/05-mdns_client.schema"},
           {template, "../deps/fifo_s3/priv/fifo_s3.schema", "share/schema/05-fifo_S3.schema"},
           {template, "../deps/folsom_ddb/priv/folsom_ddb.schema", "share/schema/07-folsom_ddb.schema"},
           {template, "../deps/ensq_rpc/priv/ensq_rpc.schema", "share/schema/08-ensq_rpc.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "share/schema/09-vm.schema"},
           {copy, "../plugins", "plugins"},
           {copy, "../snmp", "snmp"},
           {copy, "../LICENSE", "LICENSE"},
           {copy, "../README.md", "README.md"}
          ]}.
