{log_path,              "/var/log/wiggle"}.

{node,                  "wiggle@127.0.0.1"}.
{crash_dump,            "/var/log/wiggle"}.
{db_path,               "/var/db/wiggle"}.
{cookie,                "wiggle"}.
{run_user,              "wiggle"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "wiggle.conf"}.
