[{wiggle, [{acceptors, 100},
           {port, 8080}]},
 {newrelic,
  [
%%% To enable new relic metrics uncomment the next line and fill in your key
   %% {license_key, ""},
   {application_name, "wiggle"}]},
 {snmp,
  [{agent,
    [{config, [{dir, "snmp/conf/"}]},
     {db_dir, "snmp/db/"}]}]},
 {lager,
  [{handlers, [
               {lager_console_backend, info},
               {lager_file_backend, [{"{{log_dir}}/error.log", error},
                                     {"{{log_dir}}/warning.log", warning},
                                     {"{{log_dir}}/debug.log", debug},
                                     {"{{log_dir}}/console.log", info}
                                    ]}
              ]},
   {crash_log, "{{log_dir}}/crash.log"},
   {crash_log_size, 65536},
   {error_logger_redirect, true}
  ]},
 {sasl, [
         {sasl_error_logger, {file, "{{log_dir}}/sasl/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{log_dir}}/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}

].
