[
 {gproc, [{gproc_dist, all}]},
 {nodefinder,
   [{addr, {224,42,23,1}},
    {port, 4223},
    {multicast_ttl, 1}]},
 {wiggle, [{acceptors, 100},
           {port, 80},
           {key_id, "wiggle"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {lager,
  [{handlers, [
               {lager_console_backend, info},
               {lager_file_backend, [{"/var/log/fifo/wiggle/error.log", error},
                                     {"/var/log/fifo/wiggle/warning.log", warning},
                                     {"/var/log/fifo/wiggle/debug.log", debug},
                                     {"/var/log/fifo/wiggle/console.log", info}
                                    ]}
              ]},
   {crash_log, "{{platform_log_dir}}/crash.log"},
          {crash_log_size, 65536},
          {error_logger_redirect, true}
  ]},
 {alog,
  [{enabled_loggers, [alog_tty]},
   {flows,
    [{{mod,['_']}, {'=<', warning}, [alog_tty]}]}]}
].
