[
 {mnesia, [{dir, "db"}]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {wiggle, [
           {acceptors, 100},
           {port, 80},
           {host, "http://172.16.0.4"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {alog, [
	 {enabled_loggers, [alog_tty]},
	 {flows, [
		  {{mod,['_']}, {'=<', warning}, [alog_tty]}
		 ]}
	]}
].
