[
 {gproc, [{gproc_dist, all}]},
 {statsderl,
  [{hostname, "_STATSD_IP_"},
   {port, 8125},
   {base_key, "wiggle"}]},
 {wiggle, [{acceptors, 100},
           {port, 80},
           {key_id, "wiggle"},
           {session_name, <<"wiggle">>},
           {session_key, <<"0123456789ABCDEF">>}
          ]},
 {lager,
  [{handlers, [
               {lager_console_backend, info},
               {lager_file_backend, [{"/var/log/fifo/wiggle/error.log", error},
                                     {"/var/log/fifo/wiggle/warning.log", warning},
                                     {"/var/log/fifo/wiggle/debug.log", debug},
                                     {"/var/log/fifo/wiggle/console.log", info}
                                    ]}
              ]},
   {crash_log, "/var/log/fifo/wiggle/crash.log"},
          {crash_log_size, 65536},
          {error_logger_redirect, true}
  ]},
 {alog,
  [{enabled_loggers, [alog_tty]},
   {flows,
    [{{mod,['_']}, {'=<', warning}, [alog_tty]}]}]}
].
